/*B one-target the anchor tag a change the color*/
  

nav a {
    color: green;

}
/*B two-target the first h2 tag and change the text and background color*/
   nav>h2{
    color: red;
    background-color: snow;

   }

/* B three-target the first p tag & change the text to red*/
ul+p{
    color: red;

}
/*C one-target the anchor tag with attributes"href" and change the color
to red and remove the text underline*/


 a[href]{
    color: red;
    text-decoration: none;

 }
 /*C two-target the anchor tag with the attributes of class name "active"
 change the text color & provide the text style properties with underlining*/

 a[class="active"]{
    color: blue;
    text-decoration: underline;

 }
 /*C three-target the anchor tag with the attributes of the class target
 whose value is "_self" and change the background color*/
   
 a[target="_self"]{
    background-color: grey;

 }
 /*D-1 target the last <p> tag and add d "..."after its value*/
    p:last-child::after{
content: "...";
    }

    /*D-2 target the liat bullet points and change the color the the bullets points*/

    li::marker{
        color: green;

    }
    /*D-3 among the three p tag target and 2nd p tag, select the first letter
    of the 2nd p tag and change the color to red also increase for font size to 30px*/

    p:nth-child(even)::first-letter{
        color:red;
        font-size: 30px;
        
    }